$softRed : #ff4757 ;
$black : #2f3542;
$hardRed : #d73c37;
$gold : #dfbc5e;
$softGold : #e6e0ae;
$orage : #ffa502;
body {
    background-color: $softRed !important ;
    color: $black;
    .modal-dialog {
        color: $softGold;
        border: 3px solid $gold;
        border-radius: 15px;
        pointer-events: all;
        h1 {
            text-shadow: 2px 2px 5px $black;
        }
        p {
            color: #f1f2f6;
        }
        #links{
            a { 
                text-decoration: none;
                color: $orage;
                text-transform: capitalize;
                text-shadow: 3px 3px 6px $black;
            }
            a:hover{
                text-shadow: 5px 5px 15px $softGold;
            }
           
        }
    }
}
.modal-dialog {
    background-color: $hardRed;
}