*{
    box-sizing: border-box;
}
body{
    background-color: #FE0200;
}
#headerp{
    text-align: center;
}
#searchb{
    display:inline-block;
    margin: 0;
    padding: 210px;
    padding-left: 90vh;
    text-align: center;
}
button{
    background-color: #b39800;    ;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 5px 6px #616103;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    
}
a{
   display:inline-table;
   font-style: oblique;
   text-transform: capitalize;
}
.modal-container{
    display:inline-block;
    pointer-events: none;
    opacity: 0;
    border-radius: 18px;
    position: fixed;
    top: 200px;
    left: 20%;
    height: 40%;
    width: 60vw;
    background-color: #FE7D00;
    text-align: center;
    border: 3px solid goldenrod;
}
.show{
    pointer-events: auto;
    opacity: 1;
}

.modal p{
    opacity: 0.7;
    font-size: 14px;
    padding-top: 30px;
}