*{
    box-sizing: border-box;
}
body{
    background-color: rgb(221, 72, 72);
   
}
#headerp{
    text-align: center;
}
#searchb{
    /*the display is causing the issue*/
    display:inline-block;
    margin: 0;
    padding: 210px;
    padding-left: 90vh;
    text-align: center;
}
label{
    
}
button{
    background-color: goldenrod;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(176, 41, 4);
    color: rgb(247, 4, 4);
    font-size: 14px;
    padding: 5px 10px;
    
}
.modal-container{
    display:inline-block;
    pointer-events: none;
    opacity: 1;
    border-radius: 18px;
    
   
    position: fixed;
    top: 100px;
    left: 250px;
    height: 60vh;
    width: 60vw; 
    background-color: blue;
    text-align: center;
}
.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
 
    
}

.modal .year {
   
}
.modal p{
    opacity: 0.7;
font-size: 14px;
padding-top: 30px;
}