body{
    background-color: #f84949;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
h1{
    font-size: xxx-large;
    text-shadow: 2px 2px gold;
}
h3{
    font-size: xx-large;
}
p{
    padding-left: 20%;
    padding-right: 20%;
    font-size: x-large;
}
.pic{
    width: 250px;
    height: 300px;
    box-shadow: 0 0 5px 2px hsl(67, 81%, 48%);
    cursor: pointer;
    overflow: hidden;
    margin: auto;
    border: 2px solid gold;
    animation: border-animation 1s infinite;
}
a{
    text-decoration: none;
    color: #b39800;
    text-shadow: 1px 1px 3px rgb(15, 6, 6);
}
@keyframes border-animation {
    0%{
        border-color: gold;
    }
    33%{
        border-color: white;  

    }
    66%{
        border-color: gold;
    }
    100%{
        border-color: white;  
    }
}
img{
    width: 100%;
    height: 100%;
}
@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px){
    h1{
        font-size: xx-large;
        text-shadow: 2px 2px gold;
    }
    h3{
        font-size: x-large;
    }
    p{
        padding-right:5%;
        padding-left: 5%;
        font-size: large;
    }
    .pic{
        margin: auto;
    }
}