body{
    background-color: #f84949;
    text-align: center;
    font-size:larger;
    font-family: 'Acme', sans-serif;
}
p{
    padding-left: 20%;
    padding-right: 20%;

}
.pic{
    width: 250px;
    height: 300px;
    position: relative;
    background-color: #e8e7d4;
    box-shadow: 0 0 5px 2px hsl(67, 81%, 48%);
    cursor: pointer;
    overflow: hidden;
    left: 43%;
    
}
.pic::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-280deg);
    width: 160%;
    height: 130%;
    background-image: conic-gradient(gold 0deg, gold 90deg, transparent 130deg, transparent 180deg, gold 180deg, gold 270deg, transparent 310deg, transparent 360deg);
    transition: transform 2s;
}
.pic:hover:before{
    transform: translate(-50%, -50%) rotate(-100deg);
}
.pic::after{
    transform: translate(-50%, -50%);
}
img{
    position: absolute;
    left: 6px;
    top: 6px;
    width: 95%;
    height: 95%;
    border: 3px solid golds;
}