body{
    background-color: #f84949;
    text-align: center;
    font-size:larger;
    font-family: 'Acme', sans-serif;
}
h1{
    text-shadow: 2px 2px gold;
}
p{
    padding-left: 20%;
    padding-right: 20%;

}
.pic{
    width: 250px;
    height: 300px;
    position: relative;
    
    box-shadow: 0 0 5px 2px hsl(67, 81%, 48%);
    cursor: pointer;
    overflow: hidden;
    left: 43%;
    border: 2px solid gold;
    animation: border-animation 1.5s infinite;
    
}
@keyframes border-animation {
    0%{
        border-color: gold;
    }
    33%{
        border-color: white;  

    }
    66%{
        border-color: gold;
    }
    100%{
        border-color: white;  
    }
}
img{
    width: 100%;
    height: 100%;
}